@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  @apply bg-gradient-to-br from-[#020106] to-[#060000]; /* Neon gradient background */
  background-size: 510% 510%; /* To enhance the gradient effect */
  animation: gradientAnimation 5s ease infinite; /* Optional animation */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
